<template>
    <div class="sidebar" :class="isBurgerMenu ? 'open' : ''">
        <div class="logo-details bg-gray-50">
            <!-- <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-white" viewBox="0 0 82.704 81.496">
                    <path id="ok" d="M-2708.364,648.938l33.57,33.438-20.821,20.788.263-14.093,6.314-6.556-19.326-19.637Zm60.943-7.434-19.749,19.212-6.52-6.352-14.09-.344,20.666,20.941,33.632-33.376Zm21.761,60.122-19.326-19.638,6.314
                -6.556.263-14.092-20.821,20.787,33.57,33.439ZM-2686.6,723l19.75-19.212,6.519,6.352,14.091.344-20.667-20.941-33.632,33.376Z" transform="translate(2708.364 -641.504)" fill="currentColor" />
                </svg>
            </div> -->
            <div class="logo_name pointer-events-none py-2">
                <img src="assets/images/logo.png" class="w-56" alt="" />
                <!-- <div><img src="assets/XelentLogo.png" alt=""></div> -->
            </div>
        </div>
        <ul class="nav-list" id="accordion-collapse" data-accordion="collapse">
            <li>
                <router-link
                    :to="{ name: 'admin.dashboard' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.dashboard'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Dashboard</span
                    >
                </router-link>
            </li>

            <li>
                <router-link
                    :to="{ name: 'admin.languages.index' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.languages.index' ||
                        $route.name == 'admin.languages.create' ||
                        $route.name == 'admin.languages.edit'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M9 2.25a.75.75 0 01.75.75v1.506a49.38 49.38 0 015.343.371.75.75 0 11-.186 1.489c-.66-.083-1.323-.151-1.99-.206a18.67 18.67 0 01-2.969 6.323c.317.384.65.753.998 1.107a.75.75 0 11-1.07 1.052A18.902 18.902 0 019 13.687a18.823 18.823 0 01-5.656 4.482.75.75 0 11-.688-1.333 17.323 17.323 0 005.396-4.353A18.72 18.72 0 015.89 8.598a.75.75 0 011.388-.568A17.21 17.21 0 009 11.224a17.17 17.17 0 002.391-5.165 48.038 48.038 0 00-8.298.307.75.75 0 01-.186-1.489 49.159 49.159 0 015.343-.371V3A.75.75 0 019 2.25zM15.75 9a.75.75 0 01.68.433l5.25 11.25a.75.75 0 01-1.36.634l-1.198-2.567h-6.744l-1.198 2.567a.75.75 0 01-1.36-.634l5.25-11.25A.75.75 0 0115.75 9zm-2.672 8.25h5.344l-2.672-5.726-2.672 5.726z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Languages</span
                    >
                </router-link>
            </li>
            <li>
                <router-link
                    :to="{ name: 'admin.menus.index' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.menus.index' ||
                        $route.name == 'admin.menus.create' ||
                        $route.name == 'admin.menus.edit'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Menus</span
                    >
                </router-link>
            </li>
            <li>
                <router-link
                    :to="{ name: 'admin.business_categories.index' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.business_categories.index' ||
                        $route.name == 'admin.business_categories.create' ||
                        $route.name == 'admin.business_categories.edit'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Business categories</span
                    >
                </router-link>
            </li>
            <li>
                <router-link
                    :to="{ name: 'admin.degrees.index' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.degrees.index' ||
                        $route.name == 'admin.degrees.create' ||
                        $route.name == 'admin.degrees.edit'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Degrees</span
                    >
                </router-link>
            </li>
            <li>
                <router-link
                    :to="{ name: 'admin.article_categories.index' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.article_categories.index' ||
                        $route.name == 'admin.article_categories.create' ||
                        $route.name == 'admin.article_categories.edit'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Article categories</span
                    >
                </router-link>
            </li>
            <li>
                <router-link
                    :to="{ name: 'admin.articles.index' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.articles.index' ||
                        $route.name == 'admin.articles.create' ||
                        $route.name == 'admin.articles.edit'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Articles</span
                    >
                </router-link>
            </li>
            <li>
                <router-link
                    :to="{ name: 'admin.pages.index' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.pages.index' ||
                        $route.name == 'admin.pages.create' ||
                        $route.name == 'admin.pages.edit'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Pages</span
                    >
                </router-link>
            </li>
            <li>
                <router-link
                    :to="{ name: 'admin.registration_packages.index' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.registration_packages.index' ||
                        $route.name == 'admin.registration_packages.create' ||
                        $route.name == 'admin.registration_packages.edit'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Profile packages</span
                    >
                </router-link>
            </li>
            <li>
                <router-link
                    :to="{ name: 'admin.errors.edit' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.errors.edit'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Error handling</span
                    >
                </router-link>
            </li>
            <!-- <li>
                <router-link
                    :to="{ name: 'admin.registration.edit' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.registration.edit'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Registration page</span
                    >
                </router-link>
            </li>

            <li>
                <router-link
                    :to="{ name: 'admin.home.edit' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.home.edit'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Home page</span
                    >
                </router-link>
            </li>

            <li>
                <router-link
                    :to="{ name: 'admin.login.edit' }"
                    class="py-2 hover:border-l-4 border-white flex items-center h-full w-full hover:bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group"
                    :class="
                        $route.name == 'admin.login.edit'
                            ? 'border-l-4 border-white bg-gradient-to-r from-secondarywhite to-transparent bg-opacity-50 group'
                            : ''
                    "
                >
                    <div class="sidebar-links-icon flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"
                            />
                        </svg>
                    </div>
                    <span
                        class="links_name pointer-events-auto opacity-0 text-white"
                        >Login page</span
                    >
                </router-link>
            </li> -->
        </ul>
    </div>
</template>

<script>
import { mapState } from "vuex";
export default {
    computed: mapState({
        isBurgerMenu: (state) => state.menu.isBurgerMenu,
    }),
};
</script>
