<template>
    <AppLayout>
        <header class="py-4 bg-white">
            <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between">
                    <h1 class="text-3xl font-bold text-blue-600"> Create business category </h1>
                    <router-link :to="{ name: 'admin.business_categories.index'}" class="inline-flex items-center px-4 py-2 bg-blue-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 focus:outline-none focus:border-blue-800 focus:shadow-outline-blue disabled:opacity-25 transition ease-in-out duration-150">
                        Back
                    </router-link>
                </div>
            </div>
        </header>
        <form class="py-4 px-4 bg-white" @submit.prevent="addUpdateForm()">
            
            <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
                <ul class="flex flex-wrap -mb-px">
                    <li class="mr-2" v-for="language in languages" :key="language.id">
                        <a @click.prevent="changeLanguageTab(language)" href="#" :class="['inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300', ((activeTab == null && language.is_default) || activeTab == language.id ? 'text-blue-600 border-blue-600 active dark:text-blue-500 dark:border-blue-500' : ''), (validationErros.has(`name.name_${language.id}`) ? 'bg-red-600 text-white hover:text-white' : '')]">{{language.name}}</a>
                    </li>
                </ul>
            </div>

            <div class="grid my-5 md:grid-cols-2 md:gap-6" v-for="language in languages" :key="language.id" :class="(activeTab == null && language.is_default) || activeTab == language.id ? 'block' : 'hidden' ">
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="name" id="name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " @input="handleNameInput($event.target.value, language)" :value="form['name'] && form['name'][`name_${language.id}`] ? form['name'][`name_${language.id}`] : ''" />
                    <label for="name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
                    <p class="mt-2 text-sm text-red" v-if="validationErros.has(`name.name_${language.id}`)" v-text="validationErros.get(`name.name_${language.id}`)"></p>
                </div>
            </div>
            

            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>

    </AppLayout>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        computed:{
            ...mapState({
                form: state => state.business_categories.form,
                validationErros: state => state.business_categories.validationErros,
                languages: state => state.languages.languages,
            }),
        },
        data(){
            return {
                activeTab: null,
            }
        },
        methods: {
            handleNameInput(value, language){
                this.$store.commit('business_categories/updateName', {
                    'name': value,
                    'id': language.id,
                });
            },
            addUpdateForm(){
                this.$store.dispatch('business_categories/addUpdateForm')
                .then(() => this.$router.push({name: 'admin.business_categories.index'}));
            },
            changeLanguageTab(language){
                this.activeTab = language.id;
            },
            fetchBusinessCategory(){
                if(this.$route.params.id){
                    let id = this.$route.params.id;
                    this.$store.commit('business_categories/setIsFormEdit', 1);
                    this.$store.dispatch('business_categories/fetchBusinessCategory', {
                        id: id,
                        url: `${process.env.MIX_ADMIN_API_URL}business-categories/${id}?withBusinessCategoryDetail=1`
                    }).then(res => {
                        let data = res.data.data && res.data.data.business_category_detail ? res.data.data.business_category_detail : [];
                        let obj = {};
                        data.map(res => {
                            obj['name_'+res.language_id] = res.name;
                        });
                        this.$store.commit('business_categories/setName', obj);
                    });
                }
            }
        },
        created(){
            this.$store.commit('business_categories/resetForm');
            this.$store.dispatch('languages/fetchLanguages', {
                url: `${process.env.MIX_ADMIN_API_URL}languages?getAll=1`
            }).then(res => {
                let data = res.data.data;
                let obj = {};
                data.map(res => {
                    obj['name_'+res.id] = '';
                });
                this.$store.commit('business_categories/setName', obj);
                this.fetchBusinessCategory();
            });
        }
    };
</script>