<template>
    <AppLayout>
        <header class="py-4 bg-white">
            <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between">
                    <h1 class="text-3xl font-bold text-blue-600">
                        Create Menu
                    </h1>
                    <router-link
                        :to="{ name: 'admin.menus.index' }"
                        class="inline-flex items-center px-4 py-2 bg-blue-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 focus:outline-none focus:border-blue-800 focus:shadow-outline-blue disabled:opacity-25 transition ease-in-out duration-150"
                    >
                        Back
                    </router-link>
                </div>
            </div>
        </header>
        <form class="py-4 px-4 bg-white" @submit.prevent="addUpdateForm()">
            <div
                class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
            >
                <ul class="flex flex-wrap -mb-px">
                    <li
                        class="mr-2"
                        v-for="language in languages"
                        :key="language.id"
                    >
                        <a
                            @click.prevent="changeLanguageTab(language)"
                            href="#"
                            :class="[
                                'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300',
                                (activeTab == null && language.is_default) ||
                                activeTab == language.id
                                    ? 'text-blue-600 border-blue-600 active dark:text-blue-500 dark:border-blue-500'
                                    : '',
                                validationErros.has(`name.name_${language.id}`)
                                    ? 'bg-red-600 text-white hover:text-white'
                                    : '',
                            ]"
                            >{{ language.name }}</a
                        >
                    </li>
                </ul>
            </div>

            <div
                class="grid my-5 md:grid-cols-2 md:gap-6"
                v-for="language in languages"
                :key="language.id"
                :class="
                    (activeTab == null && language.is_default) ||
                    activeTab == language.id
                        ? 'block'
                        : 'hidden'
                "
            >
                <div class="relative z-0 w-full mb-6 group">
                    <input
                        type="text"
                        name="name"
                        id="name"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" "
                        @input="handleNameInput($event.target.value, language)"
                        :value="
                            form['name'] && form['name'][`name_${language.id}`]
                                ? form['name'][`name_${language.id}`]
                                : ''
                        "
                    />
                    <label
                        for="name"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Name</label
                    >
                    <p
                        class="mt-2 text-sm text-red"
                        v-if="validationErros.has(`name.name_${language.id}`)"
                        v-text="validationErros.get(`name.name_${language.id}`)"
                    ></p>
                </div>
            </div>

            <button
                type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
                Submit
            </button>
        </form>
        <draggable v-model="items">
            <template v-slot:item="{ item }">
                <!-- example -->
                <div>
                    {{ item.name }}
                </div>
                <!-- or your own template -->
            </template>
        </draggable>
    </AppLayout>
</template>

<script>
import { mapState } from "vuex";
import Draggable from "vue3-draggable";
export default {
    computed: {
        ...mapState({
            form: (state) => state.menus.form,
            validationErros: (state) => state.menus.validationErros,
            languages: (state) => state.languages.languages,
            menus: (state) => state.menus.menus,
        }),
    },
    data() {
        return {
            items: [
                { name: "Prelude" },
                { name: "Verse" },
                {
                    name: "Middle",
                    children: [{ name: "Chorus" }, { name: "Verse" }],
                },
                { name: "Last Chorus" },
            ],
            activeTab: null,
            nestableItems: [
                {
                    id: 0,
                    text: "Andy",
                },
                {
                    id: 1,
                    text: "Harry",
                    children: [
                        {
                            id: 2,
                            text: "David",
                        },
                    ],
                },
                {
                    id: 3,
                    text: "Lisa",
                },
            ],
            menuObject: {
                id: Date.now(),
                name: [],
                url: "",
                children: [],
                language_id: [],
            },
        };
    },
    methods: {
        handleNameInput(value, language) {
            this.$store.commit("menus/updateName", {
                name: value,
                id: language.id,
            });
        },
        addUpdateForm() {
            this.$store.dispatch("menus/addUpdateForm").then(() =>
                this.$router.push({
                    name: "admin.menus.index",
                })
            );
        },
        changeLanguageTab(language) {
            this.activeTab = language.id;
        },
        fetchMenu() {
            if (this.$route.params.id) {
                let id = this.$route.params.id;
                this.$store.commit("menus/setIsFormEdit", 1);
                this.$store
                    .dispatch("menus/fetchMenu", {
                        id: id,
                        url: `${process.env.MIX_ADMIN_API_URL}business-categories/${id}?withMenuDetail=1`,
                    })
                    .then((res) => {
                        let data =
                            res.data.data &&
                            res.data.data.business_category_detail
                                ? res.data.data.business_category_detail
                                : [];
                        let obj = {};
                        data.map((res) => {
                            obj["name_" + res.language_id] = res.name;
                        });
                        this.$store.commit("menus/setName", obj);
                    });
            }
        },
        deleteObject(index, item, isChild) {
            for (var i = 0; i < this.nestableItems.length; i++) {
                if (isChild) {
                    this.removeChild(item, this.nestableItems[i]);
                } else {
                    if (item.id == this.nestableItems[i].id) {
                        this.nestableItems.splice(i, 1);
                        // this.updateSetting();
                    }
                }
            }
        },
        removeChild(item, nestedItem) {
            for (var j = 0; j < nestedItem.children.length; j++) {
                console.log(item.id, nestedItem.children[j].id);
                if (item.id == nestedItem.children[j].id) {
                    nestedItem.children.splice(j, 1);
                    // this.updateSetting();
                }
                if (nestedItem.children[j]) {
                    this.removeChild(item, nestedItem.children[j]);
                }
            }
        },
        editObject(index, item, isChild) {
            this.menuObject = item;
        },
    },
    created() {
        this.$store.commit("menus/resetForm");
        this.$store
            .dispatch("languages/fetchLanguages", {
                url: `${process.env.MIX_ADMIN_API_URL}languages?getAll=1`,
            })
            .then((res) => {
                let data = res.data.data;
                let obj = {};
                data.map((res) => {
                    obj["name_" + res.id] = "";
                });
                this.$store.commit("menus/setName", obj);
                this.fetchMenu();
            });
        this.$store.dispatch("menus/fetchMenus").then(() => {
            let menuJson = {};
            for (var i = 0; i < this.menus.length; i++) {
                menuJson = {
                    id: Date.now() + "-" + this.menus[i].id,
                    url: this.menus[i].url,
                };
                let menuName = [];
                let menuLengugae = [];
                for (var j = 0; j < this.menus[i].menu_detail.length; j++) {
                    menuName.push(this.menus[i].menu_detail[j].name);
                    menuLengugae.push(this.menus[i].menu_detail[j].language_id);
                }
                menuJson["name"] = menuName;
                menuJson["language_id"] = menuLengugae;
                menuJson["children"] = [];
                // this.nestableItems.push(menuJson);
            }
        });
    },
    components: { Draggable },
};
</script>
