<template>
    <div>
        <div class="mb-4 space-y-4">
            <p>
                {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_3_description : ''}}
            </p>
            <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('business_categories_id')">
                <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('business_categories_id')}}</span>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-3 py-3 mb-6">
                <div class="flex items-center" v-for="businessCategory in businessCategories" :key="businessCategory.id">
                    <input :id="`business-category-${businessCategory.id}`" type="checkbox" :value="businessCategory.id" class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary" @input="updateForm($event.target.checked, businessCategory.id)" />
                    <label :for="`business-category-${businessCategory.id}`" class="ml-2 font-semibold text-gray-900">{{businessCategory.category_name}}</label>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from "vuex";

export default {
    computed: {
        ...mapState({
            regPageSetting: (state) => state.signup.regPageSetting,
            validationErros: (state) => state.signup.validationErros,
            businessCategories: (state) => state.signup.businessCategories,
        })
    },
    methods:{
        updateForm(checked, value){
            let type = checked ? 'add' : 'remove';
            this.$store.commit('signup/setBusinessCategoriesForm', {
                'value': value,
                'type': type,
            });
        },
    }
}
</script>