<template>
    <div>
        <div class="mb-4">
            <div class="px-4 py-2.5 sm:px-6 text-center bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900 rounded-md cursor-pointer">
                <h3 class="text-lg font-semibold leading-6 text-white" v-if="profile == '1'">
                    {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_heading : ''}}
                </h3>
            </div>
            <div class="my-4">
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="company-name">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_name_label : ''}}
                    </label>
                    <input type="text" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_name_placeholder : ''" @input="updateForm('customer_profile_company_name', $event.target.value)" :value="profile_form && profile_form.company_name ? profile_form.company_name : ''" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_profile_company_name')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_profile_company_name')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="company-email">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_email_label : ''}}
                    </label>
                    <input type="email" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_email_placeholder : ''" @input="updateForm('customer_profile_company_email', $event.target.value)" :value="profile_form && profile_form.company_email ? profile_form.company_email : ''" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_profile_company_email')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_profile_company_email')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="mailing-address">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_address_label : ''}}
                    </label>
                    <textarea rows="4" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_address_placeholder : ''" @input="updateForm('customer_profile_address', $event.target.value)" :value="profile_form && profile_form.address ? profile_form.address : ''"></textarea>
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_profile_address')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_profile_address')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="phone">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_phone_label : ''}}
                    </label>
                    <input type="number" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_phone_placeholder : ''" @input="updateForm('customer_profile_phone', $event.target.value)" :value="profile_form && profile_form.phone ? profile_form.phone : ''" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_profile_phone')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_profile_phone')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="website">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_website_label : ''}}
                    </label>
                    <input type="text" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_website_placeholder : ''" @input="updateForm('customer_profile_website', $event.target.value)" :value="profile_form && profile_form.website ? profile_form.website : ''" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_profile_website')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_profile_website')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="short-description">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_short_description_label : ''}}
                    </label>
                    <textarea rows="3" class="border border-gray-100 resize-none transition-all delay-150 px-3 py-4 placeholder-gray-400 text-gray-700 bg-white rounded shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_short_description_placeholder : ''" @input="updateForm('customer_profile_short_description', $event.target.value)" :value="profile_form && profile_form.short_description ? profile_form.short_description : ''"></textarea>
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_profile_short_description')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_profile_short_description')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="detailed-description">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_description_label : ''}}
                    </label>
                    <textarea rows="3" class="border border-gray-100 resize-none transition-all delay-150 px-3 py-4 placeholder-gray-400 text-gray-700 bg-white rounded shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_description_placeholder : ''" @input="updateForm('customer_profile_description', $event.target.value)" :value="profile_form && profile_form.description ? profile_form.description : ''"></textarea>
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_profile_description')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_profile_description')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="keywords">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_keywords_label : ''}}
                    </label>
                    <textarea rows="3" class="border border-gray-100 resize-none transition-all delay-150 px-3 py-4 placeholder-gray-400 text-gray-700 bg-white rounded shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_keywords_placeholder : ''" @input="updateForm('customer_profile_keywords', $event.target.value)" :value="profile_form && profile_form.keywords ? profile_form.keywords : ''"></textarea>
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_profile_keywords')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_profile_keywords')}}</span>
                    </div>
                </div>
                <div class="mt-10 flex justify-center" v-if="profile == '1'">
                    <button type="button" @click="updateBussinessProfile()" class="btn bg-primary/5 hover:bg-primary border-primary/10 hover:border-primary text-primary hover:text-white rounded-full">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from "vuex";

export default {
    computed: {
        ...mapState({
            regPageSetting: (state) => state.signup.regPageSetting,
            validationErros: (state) => state.signup.validationErros,
        })
    },
    data(){
        return{
            profile_form:{}
        }
    },
    created(){
        if(this.profile == '1'){
            this.$store.dispatch('signup/fetchRegPageSetting');
            this.$store.dispatch('signup/getBussinessProfile').then(res => {
                this.profile_form = res.data.data;
                this.updateForm('customer_profile_address', res.data.data.address)
                this.updateForm('customer_profile_company_email', res.data.data.company_email)
                this.updateForm('customer_profile_company_name', res.data.data.company_name)
                this.updateForm('customer_profile_description', res.data.data.description)
                this.updateForm('customer_profile_keywords', res.data.data.keywords)
                this.updateForm('customer_profile_phone', res.data.data.phone)
                this.updateForm('customer_profile_short_description', res.data.data.short_description)
                this.updateForm('customer_profile_website', res.data.data.website)
            });
        }
    },
    methods:{
        updateForm(field, value){
            this.$store.commit('signup/setForm', {
                field: [field], value: value
            });
        },
        updateBussinessProfile(){
            this.$store.dispatch('signup/updateBussinessProfile');
        }
    },
    props:['profile']
}
</script>