<template>
    <div>
        <div class="my-4">
            <div class="px-4 py-2.5 sm:px-6 text-center bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900 rounded-md cursor-pointer">
                <h3 class="text-lg font-semibold leading-6 text-white" @click.prevent="displayMediaSection = !displayMediaSection">Media (Optional)</h3>
            </div>
            <div class="my-4" v-if="displayMediaSection">
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="logo">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_logo_label : ''}}
                    </label>
                    <input type="file" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_logo_placeholder : ''" @input="updateForm('customer_media_logo', $event.target.files)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_media_logo')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_media_logo')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="video">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_video_label : ''}}
                    </label>
                    <input type="url" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_video_placeholder : ''" @input="updateForm('customer_media_video', $event.target.value)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_media_video')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_media_video')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="Image-1">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_image_1_label : ''}}
                    </label>
                    <input type="file" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_image_1_placeholder : ''" @input="updateForm('customer_media_image_1', $event.target.files)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_media_image_1')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_media_image_1')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="image-2">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_image_2_label : ''}}
                    </label>
                    <input type="file" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_image_2_placeholder : ''" @input="updateForm('customer_media_image_2', $event.target.files)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_media_image_2')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_media_image_2')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="image-3">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_image_3_label : ''}}
                    </label>
                    <input type="file" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_image_3_placeholder : ''" @input="updateForm('customer_media_image_3', $event.target.files)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_media_image_3')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_media_image_3')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="image-4">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_image_4_label : ''}}
                    </label>
                    <input type="file" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_image_4_placeholder : ''" @input="updateForm('customer_media_image_4', $event.target.files)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_media_image_4')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_media_image_4')}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from "vuex";

export default {
    computed: {
        ...mapState({
            regPageSetting: (state) => state.signup.regPageSetting,
            validationErros: (state) => state.signup.validationErros,
        })
    },
    data(){
        return {
            displayMediaSection:false,
        }
    },
    methods:{
        updateForm(field, value){
            if(field == 'customer_media_video'){
                this.$store.commit('signup/setForm', {
                    field: [field], value: value
                });
            }
            else{
                if(value[0]){
                    this.$store.commit('signup/setForm', {
                        field: [field], value: value[0]
                    });
                }
            }
        },
    }
}
</script>