<template>
    <div>
        <div class="mb-4">
            <div class="my-4 space-y-2">
                <div class="flex items-center" v-for="registrationPackage in registrationPackages" :key="registrationPackage.id">
                    <input :id="`package-${registrationPackage.id}`" :value="registrationPackage.id" name="registration-package" type="radio" class="h-4 w-4 border-gray-300 accent-primaryRed" @click="updateForm('registration_package_id', $event.target.value)" :checked="form.registration_package_id == registrationPackage.id" />
                    <label :for="`package-${registrationPackage.id}`" class="ml-2 block font-medium text-gray-900">{{registrationPackage.registration_package_detail && registrationPackage.registration_package_detail[0] ? registrationPackage.registration_package_detail[0].name : ''}}</label>
                </div>
                <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('registration_package_id')">
                    <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('registration_package_id')}}</span>
                </div>
            </div>
            <div class="flex items-center mb-4">
                <input id="auto-renew" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 focus:ring-0 accent-primaryRed" />
                <label for="auto-renew" class="ml-2 font-semibold text-gray-900">
                    {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_1_auto_renew_label : ''}}
                </label>
            </div>
            <!-- <p class="font-medium"><span class="sups">*</span> If, for whatever reason, you do not feel that we delivered the primised services to your full satisfaction, we will give you a full refund of your subscription fee. You have 30 days to decide if you are satisfiend with our services or not an we offer a money-back guarantee should you decide to withdraw your subscription within the 30-day trial period </p> -->
            {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_1_description : ''}}
        </div>
    </div>
</template>
<script>
import { mapState } from "vuex";

export default {
    computed: {
        ...mapState({
            regPageSetting: (state) => state.signup.regPageSetting,
            validationErros: (state) => state.signup.validationErros,
            form: (state) => state.signup.form,
            registrationPackages: (state) => state.signup.registrationPackages,
        })
    },
    methods:{
        updateForm(field, value){
            this.$store.commit('signup/setForm', {
                field: [field], value: value
            });
        },
    }
}
</script>
