<template>
<div class="shadow sm:overflow-hidden sm:rounded-md">
    <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
    <div>

        <h3 class="text-center text-2xl font-semibold leading-6 text-gray-900">{{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].page_title : ''}}</h3>
    </div>
    <div class="mt-8">
        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].page_description : ''}}
        <form @submit.prevent="addForm()" enctype="multipart/form-data" class="space-y-8 divide-y divide-gray-200 mt-8">
            <div class="space-y-8">
                <div>
                    <div
                        class="px-4 py-2.5 sm:px-6 text-center bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900 rounded-md">
                        <h3 class="text-lg font-semibold leading-6 text-white">
                            {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_1_heading : ''}}
                        </h3>
                    </div>
                    <RegistrationPackage />
                </div>
                <div class="pt-8">
                    <div
                        class="px-4 py-2.5 sm:px-6 text-center bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900 rounded-md">
                        <h3 class="text-lg font-semibold leading-6 text-white">
                            {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_2_heading : ''}}
                        </h3>
                    </div>
                    <UserProfile />
                </div>
                <div class="pt-8">
                    <div
                        class="px-4 py-2.5 sm:px-6 text-center bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900 rounded-md">
                        <h3 class="text-lg font-semibold leading-6 text-white">
                            {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_3_heading : ''}}
                        </h3>
                    </div>
                    <BusinessCategories />
                </div>
                <div class="pt-8">
                    <div
                        class="px-4 py-2.5 sm:px-6 text-center bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900 rounded-md">
                        <h3 class="text-lg font-semibold leading-6 text-white">
                            {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_4_heading : ''}}
                        </h3>
                    </div>
                    <CustomerProfile />
                </div>
                <div class="pt-8">
                    <h5 class="font-semibold">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_5_heading : ''}}
                    </h5>
                </div>
                <div class="pt-8">
                    <Media />
                </div>
                <div class="pt-8">
                    <SocialMedia />
                </div>
                <div class="pt-8">
                    <Terms />
                </div>
            </div>

            <div class="pt-5">
                <div class="flex justify-center">
                    <button type="submit"
                        class="ml-3 inline-flex justify-center btn bg-indigo-600/5 hover:bg-indigo-600 border-indigo-600/10 hover:border-indigo-600 text-indigo-600 hover:text-white rounded-full"
                        :disabled="loading">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].submit_button_text : 'Submit'}}
                    </button>
                </div>
            </div>

            <div class="m-8">
                {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].footer_text : ''}}
            </div>
        </form>

    </div>
    </div>
    </div>
</template>


<script>
import CustomerProfile from './CustomerProfile.vue';
import BusinessCategories from './BusinessCategories.vue';
import RegistrationPackage from './RegistrationPackage.vue';
import UserProfile from './UserProfile.vue';
import Terms from './Terms.vue';
import SocialMedia from './SocialMedia.vue';
import Media from './Media.vue';
import { mapState } from "vuex";
export default {
    computed: {
        ...mapState({
            regPageSetting: (state) => state.signup.regPageSetting,
            loading: (state) => state.signup.loading,
            registrationPackages: (state) => state.signup.registrationPackages,
        })
    },
    components: { BusinessCategories, RegistrationPackage, UserProfile, CustomerProfile, Terms, SocialMedia, Media },
    methods:{
        addForm(){
            this.$store.dispatch('signup/addForm').then(res => {
                if(res.data.status == 'Success'){
                    window.location.href = res.data.data.redirect_url
                }
            });
        }
    },
    created(){
        this.$store.dispatch('signup/fetchRegistrationPackages').then(res => {
            if(res.data.status == 'Success'){
                this.registrationPackages.map(registrationPackage => {
                    if(registrationPackage.is_default){
                        this.$store.commit('signup/setForm', {
                            field: 'registration_package_id', value: registrationPackage.id
                        });
                        return true;
                    }
                })
            }
        });
        this.$store.dispatch('signup/fetchBusinessCategories');
        this.$store.dispatch('signup/fetchRegPageSetting')
    }
}
</script>