<template>
    <div>
        <div class="my-4">
             <div class="px-4 py-2.5 sm:px-6 text-center bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900 rounded-md cursor-pointer">
                <h3 class="text-lg font-semibold leading-6 text-white" @click.prevent="displaySocialMediaSection = !displaySocialMediaSection">
                    {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_6_heading : ''}}
                </h3>
            </div>
            <div class="my-4" v-if="displaySocialMediaSection || profile == '1'">
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="facebook">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_6_facebook_label : ''}}
                    </label>
                    <input type="url" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_6_facebook_placeholder : ''" :value="profile_form && profile_form.facebook ? profile_form.facebook : ''" @input="updateForm('customer_social_media_facebook', $event.target.value)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_social_media_facebook')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_social_media_facebook')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="twitter">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_6_twitter_label : ''}}
                    </label>
                    <input type="url" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_6_twitter_placeholder : ''" :value="profile_form && profile_form.twitter ? profile_form.twitter : ''" @input="updateForm('customer_social_media_twitter', $event.target.value)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_social_media_twitter')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_social_media_twitter')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="youtube">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_6_youtube_label : ''}}
                    </label>
                    <input type="url" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_6_youtube_placeholder : ''" :value="profile_form && profile_form.youtube ? profile_form.youtube : ''" @input="updateForm('customer_social_media_youtube', $event.target.value)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_social_media_youtube')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_social_media_youtube')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="linkedin">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_6_linkedin_label : ''}}
                    </label>
                    <input type="url" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_6_linkedin_placeholder : ''" :value="profile_form && profile_form.linked_in ? profile_form.linked_in : ''" @input="updateForm('customer_social_media_linked_in', $event.target.value)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('customer_social_media_linked_in')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('customer_social_media_linked_in')}}</span>
                    </div>
                </div>

                <div class="mt-10 flex justify-center" v-if="profile == '1'">
                    <button type="button" @click="updateSocialMedia()" class="btn bg-primary/5 hover:bg-primary border-primary/10 hover:border-primary text-primary hover:text-white rounded-full">Proceed</button>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from "vuex";

export default {
    computed: {
        ...mapState({
            regPageSetting: (state) => state.signup.regPageSetting,
            validationErros: (state) => state.signup.validationErros,
        })
    },
    data(){
        return {
            displaySocialMediaSection: false,
            profile_form:{}
        }
    },
    created(){
        if(this.profile == '1'){
            this.$store.dispatch('signup/fetchRegPageSetting');
            this.$store.dispatch('signup/getSocialMedia').then(res => {
                this.profile_form = res.data.data;
                this.updateForm('customer_social_media_facebook', res.data.data.facebook)
                this.updateForm('customer_social_media_linked_in', res.data.data.linked_in)
                this.updateForm('customer_social_media_twitter', res.data.data.twitter)
                this.updateForm('customer_social_media_youtube', res.data.data.youtube)
            });
        }
    },
    methods:{
        updateForm(field, value){
            this.$store.commit('signup/setForm', {
                field: [field], value: value
            });
        },
        updateSocialMedia(){
            this.$store.dispatch('signup/updateSocialMedia');
        }
    },
    props:['profile']
}
</script>