<template>
    <div>
        <div class="flex items-center p-4">
            <input id="agree" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-primary focus:ring-primary" @input="updateForm('is_agree', $event.target.checked)">
            <label for="agree" class="ml-2 font-semibold text-gray-900">
                {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].terms_and_conditions_label : ''}}
            </label>
        </div>
        <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('is_agree')">
            <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('is_agree')}}</span>
        </div>
    </div>
</template>
<script>
import { mapState } from "vuex";

export default {
    computed: {
        ...mapState({
            regPageSetting: (state) => state.signup.regPageSetting,
            validationErros: (state) => state.signup.validationErros,
        })
    },
    methods:{
        updateForm(field, value){
            this.$store.commit('signup/setForm', {
                field: [field], value: value
            });
        },
    }
}
</script>