<template>
    <div>
        <div class="mb-4">
            <div class="px-4 py-2.5 sm:px-6 text-center bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900 rounded-md cursor-pointer">
                <h3 class="text-lg font-semibold leading-6 text-white" v-if="profile == '1'">
                    {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_2_heading : ''}}
                </h3>
            </div>
            <div class="my-4">
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="name">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_2_name_label : ''}}
                    </label>
                    <input type="text" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_2_name_placeholder : ''" :value="profile_form && profile_form.name ? profile_form.name : ''" @input="updateForm('name', $event.target.value)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('name')">
                        <div id="tooltip2" role="tooltip" class="relative tooltiptext -top-2 z-10 leading-none transition duration-150 ease-in-out shadow-lg py-2 pr-5 pl-3 bg-blue-600 text-gray-600 rounded w-56">
                                <svg class="absolute top-0 -mt-2" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Tooltips-" transform="translate(-93.000000, -355.000000)" fill="#2563eb">
                                            <g id="Group-3-Copy-3" transform="translate(76.000000, 331.000000)">
                                                <polygon id="Triangle" transform="translate(25.000000, 28.000000) rotate(-360.000000) translate(-25.000000, -28.000000) " points="25 24 33 32 17 32"></polygon>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <p class="text-xs text-white leading-none p-2">{{validationErros.get('name')}}</p>
                            </div>
                    </div>

                </div>
                <div class="relative w-full mb-3">
                    <label class="block text-gray-700 font-semibold mb-2" for="email">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_2_email_label : ''}}
                    </label>
                    <input type="email" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"  :value="profile_form && profile_form.email ? profile_form.email : ''" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_2_email_placeholder : ''" @input="updateForm('email', $event.target.value)" @change="checkIsEmailValid($event.target.value)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('email')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('email')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3" v-if="profile != '1'">
                    <label class="block text-gray-700 font-semibold mb-2" for="password">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_2_password_label : ''}}
                    </label>
                    <input type="password" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_2_password_placeholder : ''" @input="updateForm('password', $event.target.value)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('password')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('password')}}</span>
                    </div>
                </div>
                <div class="relative w-full mb-3" v-if="profile != '1'">
                    <label class="block text-gray-700 font-semibold mb-2" for="confirm-password">
                        {{regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_2_confirm_password_label : ''}}
                    </label>
                    <input type="password" class="border border-gray-100 transition-all delay-150 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" :placeholder="regPageSetting && regPageSetting.reg_page_setting_detail && regPageSetting.reg_page_setting_detail[0] ? regPageSetting.reg_page_setting_detail[0].step_2_confirm_password_placeholder : ''" @input="updateForm('password_confirmation', $event.target.value)" />
                    <div class="relative tooltip -bottom-4 group-hover:flex" v-if="validationErros.has('password_confirmation')">
                        <span class="relative tooltiptext -top-2 z-10 p-2 text-sm leading-none text-white whitespace-no-wrap bg-gradient-to-b from-blue-700 to-primaryRed rounded shadow-md">{{validationErros.get('password_confirmation')}}</span>
                    </div>
                </div>
                <div class="mt-10 flex justify-center" v-if="profile == '1'">
                    <button type="button" @click="updateUserProfile()" class="btn bg-primary/5 hover:bg-primary border-primary/10 hover:border-primary text-primary hover:text-white rounded-full">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from "vuex";

export default {
    computed: {
        ...mapState({
            regPageSetting: (state) => state.signup.regPageSetting,
            validationErros: (state) => state.signup.validationErros,
            registrationPackages: (state) => state.signup.registrationPackages,
        })
    },
    data(){
        return{
            profile_form:{}
        }
    },
    created(){
        if(this.profile == '1'){
            this.$store.dispatch('signup/fetchRegPageSetting');
            this.$store.dispatch('signup/getUserProfile').then(res => {
                this.profile_form = res.data.data;
                this.updateForm('name', res.data.data.name)
                this.updateForm('email', res.data.data.email)
            });
        }
    },
    methods:{
        updateForm(field, value){
            this.$store.commit('signup/setForm', {
                field: [field], value: value
            });
        },
        checkIsEmailValid(val) {
            this.$store.dispatch('signup/checkCustomerEmail', {
                email:val
            }).then(res => console.log(res));
        },
        updateUserProfile(){
            this.$store.dispatch('signup/updateUserProfile');
        }
    },
    props:['profile']
}
</script>