<template>
    <AppLayout>
        <!-- Main content header -->
<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Dashboard</h2>
  </div>
</div>

    </AppLayout>
</template>