<template>
    <AppLayout>
        <header class="py-4 bg-white">
            <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between">
                    <h1 class="text-3xl font-bold text-blue-600"> Create article </h1>
                    <router-link :to="{ name: 'admin.articles.index'}" class="inline-flex items-center px-4 py-2 bg-blue-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 focus:outline-none focus:border-blue-800 focus:shadow-outline-blue disabled:opacity-25 transition ease-in-out duration-150">
                        Back
                    </router-link>
                </div>
            </div>
        </header>
        <form class="py-4 px-4 bg-white" @submit.prevent="addUpdateForm()">
            
            <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
                <ul class="flex flex-wrap -mb-px">
                    <li class="mr-2" v-for="language in languages" :key="language.id">
                        <a @click.prevent="changeLanguageTab(language)" href="#" :class="['inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300', ((activeTab == null && language.is_default) || activeTab == language.id ? 'text-blue-600 border-blue-600 active dark:text-blue-500 dark:border-blue-500' : ''), (validationErros.has(`name.name_${language.id}`) ? 'bg-red-600 text-white hover:text-white' : '')]">{{language.name}}</a>
                    </li>
                </ul>
            </div>

            <div class="grid my-5 md:grid-cols-2 md:gap-6" v-for="language in languages" :key="language.id" :class="(activeTab == null && language.is_default) || activeTab == language.id ? 'block' : 'hidden' ">
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="name" id="name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " @input="handleNameInput($event.target.value, language)" :value="form['name'] && form['name'][`name_${language.id}`] ? form['name'][`name_${language.id}`] : ''" />
                    <label for="name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
                    <p class="mt-2 text-sm text-red" v-if="validationErros.has(`name.name_${language.id}`)" v-text="validationErros.get(`name.name_${language.id}`)"></p>
                </div>
            </div>

            <div class="grid my-5 md:grid-cols-2 md:gap-6" v-for="language in languages" :key="language.id" :class="(activeTab == null && language.is_default) || activeTab == language.id ? 'block' : 'hidden' ">
                <div class="relative z-0 w-full mb-6 group">
                    <textarea 
                    type="text" 
                    name="short_description" id="short_description" 
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " 
                    @input="handleShortDescriptionInput($event.target.value, language)">{{ form['short_description'] && form['short_description'][`short_description_${language.id}`] ?
                     form['short_description'][`short_description_${language.id}`] :
                    '' 
                    }}</textarea>
                    <label for="short_description" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Short Description</label>
                    <p class="mt-2 text-sm text-red" v-if="validationErros.has(`short_description.short_description_${language.id}`)" v-text="validationErros.get(`short_description.short_description_${language.id}`)"></p>
                </div>
            </div>

            <div class="grid md:grid-cols-4 md:gap-6">
                <div class="relative z-0 w-full mb-6 group">
                    <label for="name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Article Category</label>
                    <Select2
                    :class="dropdownClass"
                    v-model="article_category"
                    :options="article_categories" 
                    @select="handleCategoryChange" 
                    :settings="{ width:'100%' }"
                />
                </div>
                <p class="mt-2 text-sm text-red" v-if="validationErros.has('article_category_id')" v-text="validationErros.get('article_category_id')"></p>
            </div>
            

            <div class="grid my-5 md:grid-cols-2 md:gap-6" v-for="(language,key) in languages" :key="language.id" :class="(activeTab == null && language.is_default) || activeTab == language.id ? 'block' : 'hidden' ">
                <div class="relative z-0 w-full mb-6 group">
                    <!-- <textarea type="text" name="description" id="description" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " @input="handleNameInput($event.target.value, language)" :value="form['description'] && form['description'][`description_${language.id}`] ? form['description'][`description_${language.id}`] : ''" ></textarea> -->
                    <label for="name" class="text-sm text-gray-500 mb-5">Description</label>
                    <div class="mt-5" :id="'editor_'+key" @input="handleDescriptionInput(key, language)"></div>
                    
                    <p class="mt-2 text-sm text-red" v-if="validationErros.has(`description.description_${language.id}`)" v-text="validationErros.get(`description.description_${language.id}`)"></p>
                </div>
            </div>
            
            
            <div class="grid md:grid-cols-4 md:gap-6">
                <div class="relative z-0 w-full mb-6 group">
                    <FilePond name="article_image" class-name="my-pond" accepted-file-types="image/*" @init="handleFilePondInit" @processfile="handleFilePondFlagIconProcess" @removefile="handleFilePondFlagIconRemoveFile"
                    />
                </div>
                <p class="mt-2 text-sm text-red" v-if="validationErros.has('article_image')" v-text="validationErros.get('article_image')"></p>
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>

    </AppLayout>
</template>

<script>
// Import filepond
import Select2 from 'vue3-select2-component';
    import vueFilePond, { setOptions } from 'vue-filepond';
    import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.esm.js';
    import FilePondPluginImagePreview from 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.esm.js';
    import 'filepond/dist/filepond.min.css';
    import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
    const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginImagePreview);
    import { mapState } from 'vuex'
    export default {
        computed:{
            ...mapState({
                form: state => state.articles.form,
                validationErros: state => state.articles.validationErros,
                languages: state => state.languages.languages,
            }),
        },
        data() {
            return {
                activeTab: null,
                article_category:'',
                article_categories:[],
                selected_image:"",
                dropdownClass:"block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            };
        },
        methods: {
            handleNameInput(value, language){
                this.$store.commit('articles/updateName', {
                    'name': value,
                    'id': language.id,
                });
            },
            handleShortDescriptionInput(value, language){
                this.$store.commit('articles/updateShortDescription', {
                    'short_description': value,
                    'id': language.id,
                });
            },
            handleCategoryChange(data){
                this.$store.commit('articles/setForm', {
                    'article_category_id': data?.id,
                    'id': this.$route.params.id ? this.$route.params.id : '',
                    'article_image':this.selected_image
                });
            },
            addUpdateForm(){
                this.$store.dispatch('articles/addUpdateForm')
                .then(() => this.$router.push({name: 'admin.articles.index'}));
            },
            changeLanguageTab(language){
                this.activeTab = language.id;
            },
            fetchArticles(){
                if(this.$route.params.id){
                    let id = this.$route.params.id;
                    this.$store.commit('articles/setIsFormEdit', 1);
                    this.$store.dispatch('articles/fetchArticles', {
                        id: id,
                        url: `${process.env.MIX_ADMIN_API_URL}articles/${id}?withArticleDetail=1`
                    }).then(res => {
                        this.article_category = res.data.data.article_category_id;
                        this.$store.commit('articles/setForm', {id,article_category_id:res.data.data.article_category_id.toString(),article_image:res.data.data.article_image});
                        if(res.data.data.article_image){
                            this.convertImgUrlToBase64(res.data.data.article_image.full_path, `image/${res.data.data.article_image.extension}`);
                        }
                        let data = res.data.data && res.data.data.article_detail ? res.data.data.article_detail : [];
                        
                        let obj = {};
                        data.map(res => {
                            obj['name_'+res.language_id] = res.name;
                        });
                        this.$store.commit('articles/setName', obj);
                       
                        let d = {};
                        data.map((res,key) => {
                            
                            CKEDITOR.instances['editor_'+key].setData(res.description);
                            d['description_'+res.language_id] = res.description;
                        });
                        this.$store.commit('articles/setDescription', d);
                        let sd = {};
                        data.map(res => {
                            sd['short_description_'+res.language_id] = res.short_description;
                        });
                        this.$store.commit('articles/setShortDescription', sd);
                    });
                }
            },
            handleFilePondInit(){
                setOptions({
                    credits: false,
                    server: {
                        url: process.env.MIX_ADMIN_API_URL,
                        process: (fieldName, file, metadata, load, error, progress, abort, transfer, options) => {
                            const formData = new FormData();
                            formData.append('media', file, file.name);
                            formData.append('is_temp_media', 1);
                            formData.append('type', 'article_image');

                            const request = new XMLHttpRequest();
                            request.open('POST', `${process.env.MIX_ADMIN_API_URL}media/process`);
                            request.setRequestHeader('X-CSRF-TOKEN', document.head.querySelector('meta[name="csrf-token"]').content)

                            request.upload.onprogress = (e) => {
                                progress(e.lengthComputable, e.loaded, e.total);
                            };
                            request.onload = function () {
                                if (request.status >= 200 && request.status < 300) {
                                    load(request.responseText);
                                } else {
                                    error('oh no');
                                }
                            };

                            request.send(formData);

                            return {
                                abort: () => {
                                    request.abort();
                                    abort();
                                },
                            };
                        },
                        revert: (uniqueFileId, load, error) => {
                            const formData = new FormData();
                            formData.append('media', uniqueFileId);

                            const request = new XMLHttpRequest();
                            request.open('POST', `${process.env.MIX_ADMIN_API_URL}media/revert`);
                            request.setRequestHeader('X-CSRF-TOKEN', document.head.querySelector('meta[name="csrf-token"]').content)

                            request.send(formData);

                            return {
                                abort: () => {
                                    request.abort();
                                    abort();
                                },
                            };
                        },
                        headers: {
                            'X-CSRF-TOKEN': document.head.querySelector('meta[name="csrf-token"]').content,
                        }
                    }
                });
            },
            handleFilePondFlagIconProcess(error, file){
                console.log(file.serverId);
                this.selected_image = file.serverId;
                this.$store.commit('articles/setForm', {
                    'article_image': file.serverId,
                    'id':this.$route.params.id ?this.$route.params.id: '',
                    'article_category_id':article_category
                });
            },
            handleFilePondFlagIconRemoveFile(error, file){
                this.$store.commit('articles/setForm', {
                    'article_image': null
                });
            },
            convertImgUrlToBase64(url, type) {
                var image = new Image();

                image.onload = function () {
                    var canvas = document.createElement('canvas');
                    canvas.width = image.width;
                    canvas.height = image.height;

                    canvas.getContext('2d').drawImage(this, 0, 0);

                    canvas.toBlob(
                        function(source) {
                            var newImg = document.createElement("img"),
                            url = URL.createObjectURL(source);

                            newImg.onload = function() {
                            URL.revokeObjectURL(url);
                            };

                            newImg.src = url;
                        },
                        type,
                        1
                    );
                    let dataUrl = canvas.toDataURL(type);
                    let files = [{
                        'source':dataUrl,
                        'options': {
                            'type': 'local'
                        }
                    }];
                    setOptions({files:files});

                };
                image.src = url;
            },

        },
        created(){
            setOptions({files:[]});
            this.$store.commit('articles/resetForm');
            this.$store.dispatch('languages/fetchLanguages', {
                url: `${process.env.MIX_ADMIN_API_URL}languages?getAll=1`
            }).then(res => {
                let data = res.data.data;
                let obj = {};
                let sd = {};
                let d = {};
                data.map((res,i) => {
                    CKEDITOR.replace('editor_'+i);
                    obj['name_'+res.id] = '';
                });
                data.map(res => {
                    sd['short_description_'+res.id] = '';
                });
                data.map((res,i) => {
                    d['description_'+res.id] = '';
                    setTimeout(() => {
                        if(CKEDITOR?.instances['editor_'+i]){
                            let ctx = this;
                            CKEDITOR.instances['editor_'+i].on('change',function(){
                               let value  = CKEDITOR.instances['editor_'+i].getData();
                                ctx.$store.commit('articles/updateDescription', {
                                    'description': value,
                                    'id': data[i].id,
                                });
                            });
                        }
                    }, 1000);
                });
                this.$store.commit('articles/setName', obj);
                this.$store.commit('articles/setShortDescription', sd);
                this.$store.commit('articles/setDescription', d);
                this.fetchArticles();
            });

            this.$store.dispatch('article_categories/fetchArticleCategories', {
                url: `${process.env.MIX_ADMIN_API_URL}article_categories?getAll=1`
            }).then(res => {
                let data = res.data.data;
                console.log(data,"categories");
                let categories = [];
                for(var i =0; i < data?.length;i++){
                    let detail = data[i].article_category_detail[0];
                    categories.push({id:detail?.article_category_id,text:detail?.name})
                }
                this.article_categories = categories;
            });
            
        },
        components: {
            FilePond,
            Select2
        },
    };
</script>


<style scoped>
/**
 * FilePond Custom Styles
 */
 .filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	border-radius: 2em;
	background-color: #edf0f4;
	height: 1em;
}

.filepond--item-panel {
	background-color: #595e68;
}

.filepond--drip-blob {
	background-color: #7f8a9a;
}


</style>