<template>
    <AppLayout>
        <header class="py-4 bg-white">
            <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between">
                    <h1 class="text-3xl font-bold text-blue-600"> Create language </h1>
                    <router-link :to="{ name: 'admin.languages.index'}" class="inline-flex items-center px-4 py-2 bg-blue-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 focus:outline-none focus:border-blue-800 focus:shadow-outline-blue disabled:opacity-25 transition ease-in-out duration-150">
                        Back
                    </router-link>
                </div>
            </div>
        </header>
        <form class="py-4 px-4 bg-white" @submit.prevent="addUpdateForm()">
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-6 group">
                    <!-- <input type="text" name="name" id="name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " :value="form.name" @input="updateForm('name', $event.target.value)" /> -->
                    <select @change="updateLangName($event.target.value)" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer">
                        <option value="">Select language...</option>
                        <option v-for="languageCode in languageCodes" :key="languageCode.code" :value="JSON.stringify(languageCode)" :selected="languageCode.name == form.name">{{ languageCode.name }}</option>
                    </select>

                    <label for="name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
                    <p class="mt-2 text-sm text-red" v-if="validationErros.has('name')" v-text="validationErros.get('name')"></p>
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="abbreviation" id="abbreviation" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " :value="form.abbreviation" @input="updateForm('abbreviation', $event.target.value)" disabled tabindex="-1" />
                    <label for="abbreviation" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Abbreviation</label>
                    <p class="mt-2 text-sm text-red" v-if="validationErros.has('abbreviation')" v-text="validationErros.get('abbreviation')"></p>
                </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="native_name" id="native_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " :value="form.native_name" @input="updateForm('native_name', $event.target.value)" disabled tabindex="-1" />
                    <label for="native_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Native name</label>
                    <p class="mt-2 text-sm text-red" v-if="validationErros.has('native_name')" v-text="validationErros.get('native_name')"></p>
                </div>
                <div class="relative z-0 w-full mb-6 group">

                    <fieldset>
                        <legend class="sr-only">Set as default</legend>
                        <div class="flex items-center mb-4">
                            <input id="is_default" name="is_default" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" :checked="is_default" v-model="is_default" />
                            <label for="is_default" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Set as default</label>
                        </div>
                    </fieldset>
                    <p class="mt-2 text-sm text-red" v-if="validationErros.has('is_default')" v-text="validationErros.get('is_default')"></p>

                </div>
            </div>

            <div class="grid md:grid-cols-4 md:gap-6">
                <div class="relative z-0 w-full mb-6 group">
                    <FilePond name="flag_icon" class-name="my-pond" accepted-file-types="image/*" @init="handleFilePondInit" @processfile="handleFilePondFlagIconProcess" @removefile="handleFilePondFlagIconRemoveFile"
                    />
                </div>
                <p class="mt-2 text-sm text-red" v-if="validationErros.has('flag_icon')" v-text="validationErros.get('flag_icon')"></p>
            </div>

            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>

    </AppLayout>
</template>

<script>
    // Import filepond
    import vueFilePond, { setOptions } from 'vue-filepond';
    import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.esm.js';
    import FilePondPluginImagePreview from 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.esm.js';
    import 'filepond/dist/filepond.min.css';
    import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
    const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginImagePreview);

    import { mapState } from 'vuex'
    export default {
        computed:{
            ...mapState({
                form: state => state.languages.form,
                languageCodes: state => state.languages.languageCodes,
                validationErros: state => state.languages.validationErros,
            }),
            is_default:{
                get: function(){
                    return this.$store.state.languages.form.is_default;
                },
                set: function(val){
                    this.$store.commit('languages/setForm', {
                        is_default: val
                    });
                }
            },
        },
        methods: {
            updateLangName(lang){
                lang = JSON.parse(lang);
                this.updateForm('name', lang.name)
                this.updateForm('abbreviation', lang.code)
                this.updateForm('native_name', lang.nativeName)
            },
            updateForm(field, value){
                this.$store.commit('languages/setForm', {
                    [field]: value
                });
            },
            addUpdateForm(){
                this.$store.dispatch('languages/addUpdateForm')
                .then(() => this.$router.push({name: 'admin.languages.index'}));
            },
            handleFilePondInit(){
                setOptions({
                    credits: false,
                    server: {
                        url: process.env.MIX_ADMIN_API_URL,
                        process: (fieldName, file, metadata, load, error, progress, abort, transfer, options) => {
                            const formData = new FormData();
                            formData.append('media', file, file.name);
                            formData.append('is_temp_media', 1);
                            formData.append('type', 'flag_icon');

                            const request = new XMLHttpRequest();
                            request.open('POST', `${process.env.MIX_ADMIN_API_URL}media/process`);
                            request.setRequestHeader('X-CSRF-TOKEN', document.head.querySelector('meta[name="csrf-token"]').content)

                            request.upload.onprogress = (e) => {
                                progress(e.lengthComputable, e.loaded, e.total);
                            };
                            request.onload = function () {
                                if (request.status >= 200 && request.status < 300) {
                                    load(request.responseText);
                                } else {
                                    error('oh no');
                                }
                            };

                            request.send(formData);

                            return {
                                abort: () => {
                                    request.abort();
                                    abort();
                                },
                            };
                        },
                        revert: (uniqueFileId, load, error) => {
                            const formData = new FormData();
                            formData.append('media', uniqueFileId);

                            const request = new XMLHttpRequest();
                            request.open('POST', `${process.env.MIX_ADMIN_API_URL}media/revert`);
                            request.setRequestHeader('X-CSRF-TOKEN', document.head.querySelector('meta[name="csrf-token"]').content)

                            request.send(formData);

                            return {
                                abort: () => {
                                    request.abort();
                                    abort();
                                },
                            };
                        },
                        headers: {
                            'X-CSRF-TOKEN': document.head.querySelector('meta[name="csrf-token"]').content,
                        }
                    }
                });
            },
            handleFilePondFlagIconProcess(error, file){
                this.$store.commit('languages/setForm', {
                    'flag_icon': file.serverId
                });
            },
            handleFilePondFlagIconRemoveFile(error, file){
                this.$store.commit('languages/setForm', {
                    'flag_icon': null
                });
            },
            convertImgUrlToBase64(url, type) {
                var image = new Image();

                image.onload = function () {
                    var canvas = document.createElement('canvas');
                    canvas.width = image.width;
                    canvas.height = image.height;

                    canvas.getContext('2d').drawImage(this, 0, 0);

                    canvas.toBlob(
                        function(source) {
                            var newImg = document.createElement("img"),
                            url = URL.createObjectURL(source);

                            newImg.onload = function() {
                            URL.revokeObjectURL(url);
                            };

                            newImg.src = url;
                        },
                        type,
                        1
                    );
                    let dataUrl = canvas.toDataURL(type);
                    let files = [{
                        'source':dataUrl,
                        'options': {
                            'type': 'local'
                        }
                    }];
                    setOptions({files:files});

                };
                image.src = url;
            },
        },
        components: {
            FilePond,
        },
        created(){
            setOptions({files:[]});
            this.$store.commit('languages/resetForm');
            if(this.$route.params.id){
                let id = this.$route.params.id;
                this.$store.commit('languages/setIsFormEdit', 1);
                this.$store.dispatch('languages/fetchLanguage', {id: id}).then(res => {
                    if(res.data.status == 'Success'){
                        if(this.form.flag_icon){
                            this.convertImgUrlToBase64(this.form.flag_icon.full_path, `image/${this.form.flag_icon.extension}`);
                        }
                    }
                });
            }
        },
    };
</script>

<style scoped>
/**
 * FilePond Custom Styles
 */
 .filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	border-radius: 2em;
	background-color: #edf0f4;
	height: 1em;
}

.filepond--item-panel {
	background-color: #595e68;
}

.filepond--drip-blob {
	background-color: #7f8a9a;
}


</style>