<template>
    <AppLayout>
        <header class="py-4 bg-white mt-8">
            <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between">
                    <h1 class="text-3xl font-bold text-blue-600">
                        Login page setting
                    </h1>
                </div>
            </div>
        </header>
        <form class="py-4 px-4 bg-white" @submit.prevent="addUpdateForm()">
            <div
                class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
            >
                <ul class="flex flex-wrap -mb-px">
                    <li
                        class="mr-2"
                        v-for="language in languages"
                        :key="language.id"
                    >
                        <a
                            @click.prevent="changeLanguageTab(language)"
                            href="#"
                            :class="[
                                'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300',
                                ((activeTab == null && language.is_default) ||
                                activeTab == language.id
                                    ? 'text-blue-600 border-blue-600 active dark:text-blue-500 dark:border-blue-500'
                                    : '',
                                checkValidationError(validationErros, language)
                                    ? 'bg-red-600 text-white hover:text-white'
                                    : ''),
                            ]"
                            >{{ language.name }}</a
                        >
                    </li>
                </ul>
            </div>

            <div
                class="my-5"
                v-for="language in languages"
                :key="language.id"
                :class="
                    (activeTab == null && language.is_default) ||
                    activeTab == language.id
                        ? 'block'
                        : 'hidden'
                "
            >
                <div class="grid my-5 md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`page_title_${language.id}`"
                            :id="`page_title_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'page_title',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['page_title'] &&
                                form['page_title'][`page_title_${language.id}`]
                                    ? form['page_title'][
                                          `page_title_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`page_title_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Page title</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `page_title.page_title_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `page_title.page_title_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`login_email_label_${language.id}`"
                            :id="`login_email_label_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'login_email_label',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['login_email_label'] &&
                                form['login_email_label'][
                                    `login_email_label_${language.id}`
                                ]
                                    ? form['login_email_label'][
                                          `login_email_label_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`login_email_label_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Login email label</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `login_email_label.login_email_label_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `login_email_label.login_email_label_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`login_email_placeholder_${language.id}`"
                            :id="`login_email_placeholder_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'login_email_placeholder',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['login_email_placeholder'] &&
                                form['login_email_placeholder'][
                                    `login_email_placeholder_${language.id}`
                                ]
                                    ? form['login_email_placeholder'][
                                          `login_email_placeholder_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`login_email_placeholder_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Login email placeholder</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `login_email_placeholder.login_email_placeholder_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `login_email_placeholder.login_email_placeholder_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`login_email_error_${language.id}`"
                            :id="`login_email_error_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'login_email_error',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['login_email_error'] &&
                                form['login_email_error'][
                                    `login_email_error_${language.id}`
                                ]
                                    ? form['login_email_error'][
                                          `login_email_error_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`login_email_error_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Login email error</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `login_email_error.login_email_error_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `login_email_error.login_email_error_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`login_passowrd_label_${language.id}`"
                            :id="`login_passowrd_label_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'login_passowrd_label',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['login_passowrd_label'] &&
                                form['login_passowrd_label'][
                                    `login_passowrd_label_${language.id}`
                                ]
                                    ? form['login_passowrd_label'][
                                          `login_passowrd_label_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`login_passowrd_label_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Login passowrd label</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `login_passowrd_label.login_passowrd_label_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `login_passowrd_label.login_passowrd_label_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`login_passowrd_placeholder_${language.id}`"
                            :id="`login_passowrd_placeholder_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'login_passowrd_placeholder',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['login_passowrd_placeholder'] &&
                                form['login_passowrd_placeholder'][
                                    `login_passowrd_placeholder_${language.id}`
                                ]
                                    ? form['login_passowrd_placeholder'][
                                          `login_passowrd_placeholder_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`login_passowrd_placeholder_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Login passowrd placeholder</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `login_passowrd_placeholder.login_passowrd_placeholder_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `login_passowrd_placeholder.login_passowrd_placeholder_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`login_passowrd_error_${language.id}`"
                            :id="`login_passowrd_error_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'login_passowrd_error',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['login_passowrd_error'] &&
                                form['login_passowrd_error'][
                                    `login_passowrd_error_${language.id}`
                                ]
                                    ? form['login_passowrd_error'][
                                          `login_passowrd_error_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`login_passowrd_error_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Login passowrd error</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `login_passowrd_error.login_passowrd_error_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `login_passowrd_error.login_passowrd_error_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`keep_me_logged_in_text_${language.id}`"
                            :id="`keep_me_logged_in_text_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'keep_me_logged_in_text',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['keep_me_logged_in_text'] &&
                                form['keep_me_logged_in_text'][
                                    `keep_me_logged_in_text_${language.id}`
                                ]
                                    ? form['keep_me_logged_in_text'][
                                          `keep_me_logged_in_text_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`keep_me_logged_in_text_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Keep me logged in text</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `keep_me_logged_in_text.keep_me_logged_in_text_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `keep_me_logged_in_text.keep_me_logged_in_text_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`forget_password_text_${language.id}`"
                            :id="`forget_password_text_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'forget_password_text',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['forget_password_text'] &&
                                form['forget_password_text'][
                                    `forget_password_text_${language.id}`
                                ]
                                    ? form['forget_password_text'][
                                          `forget_password_text_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`forget_password_text_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Forget password text</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `forget_password_text.forget_password_text_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `forget_password_text.forget_password_text_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`not_register_yet_text_${language.id}`"
                            :id="`not_register_yet_text_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'not_register_yet_text',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['not_register_yet_text'] &&
                                form['not_register_yet_text'][
                                    `not_register_yet_text_${language.id}`
                                ]
                                    ? form['not_register_yet_text'][
                                          `not_register_yet_text_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`not_register_yet_text_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Not register yet text</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `not_register_yet_text.not_register_yet_text_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `not_register_yet_text.not_register_yet_text_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`create_account_button_text_${language.id}`"
                            :id="`create_account_button_text_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'create_account_button_text',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['create_account_button_text'] &&
                                form['create_account_button_text'][
                                    `create_account_button_text_${language.id}`
                                ]
                                    ? form['create_account_button_text'][
                                          `create_account_button_text_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`create_account_button_text_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Create account button text</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `create_account_button_text.create_account_button_text_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `create_account_button_text.create_account_button_text_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`protect_your_account_text_${language.id}`"
                            :id="`protect_your_account_text_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'protect_your_account_text',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['protect_your_account_text'] &&
                                form['protect_your_account_text'][
                                    `protect_your_account_text_${language.id}`
                                ]
                                    ? form['protect_your_account_text'][
                                          `protect_your_account_text_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`protect_your_account_text_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Protect your account text</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `protect_your_account_text.protect_your_account_text_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `protect_your_account_text.protect_your_account_text_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`protect_your_account_description_${language.id}`"
                            :id="`protect_your_account_description_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'protect_your_account_description',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['protect_your_account_description'] &&
                                form['protect_your_account_description'][
                                    `protect_your_account_description_${language.id}`
                                ]
                                    ? form['protect_your_account_description'][
                                          `protect_your_account_description_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`protect_your_account_description_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Protect your account description</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `protect_your_account_description.protect_your_account_description_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `protect_your_account_description.protect_your_account_description_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`login_button_text_${language.id}`"
                            :id="`login_button_text_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'login_button_text',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['login_button_text'] &&
                                form['login_button_text'][
                                    `login_button_text_${language.id}`
                                ]
                                    ? form['login_button_text'][
                                          `login_button_text_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`login_button_text_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Login button text</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `login_button_text.login_button_text_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `login_button_text.login_button_text_${language.id}`
                                )
                            "
                        ></p>
                    </div>
                </div>
            </div>

            <button
                type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
                Submit
            </button>
        </form>
    </AppLayout>
</template>

<script>
import { mapState } from "vuex";
export default {
    computed: {
        ...mapState({
            form: (state) => state.login_page_setting.form,
            validationErros: (state) =>
                state.login_page_setting.validationErros,
            languages: (state) => state.languages.languages,
        }),
    },
    data() {
        return {
            activeTab: null,
            collapseStates: [true, false, false, false, false, false, false],
        };
    },
    methods: {
        handleInput(value, language, key, mutationName) {
            this.$store.commit(`login_page_setting/${mutationName}`, {
                key: key,
                value: value,
                id: language.id,
            });
        },
        addUpdateForm() {
            this.$store.dispatch("login_page_setting/addUpdateForm");
        },
        changeLanguageTab(language) {
            this.activeTab = language.id;
        },
        fetchLoginPageSetting() {
            this.$store
                .dispatch("login_page_setting/fetchLoginPageSetting", {
                    url: `${process.env.MIX_ADMIN_API_URL}login-page-setting`,
                })
                .then((res) => {
                    let data =
                        res.data.data && res.data.data.login_page_setting_detail
                            ? res.data.data.login_page_setting_detail
                            : [];

                    var obj = {};
                    data.map((res) => {
                        obj["page_title_" + res.language_id] = res.page_title;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "page_title",
                        value: obj,
                    });

                    var obj =  {};
                    data.map((res) => {
                        obj["login_email_label_" + res.language_id] = res.login_email_label;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "login_email_label",
                        value: obj,
                    });

                     var obj =  {};
                    data.map((res) => {
                        obj["login_email_placeholder_" + res.language_id] = res.login_email_placeholder;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "login_email_placeholder",
                        value: obj,
                    });

                     var obj =  {};
                    data.map((res) => {
                        obj["login_email_error_" + res.language_id] = res.login_email_error;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "login_email_error",
                        value: obj,
                    });

                     var obj =  {};
                    data.map((res) => {
                        obj["login_passowrd_label_" + res.language_id] = res.login_passowrd_label;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "login_passowrd_label",
                        value: obj,
                    });

                     var obj =  {};
                    data.map((res) => {
                        obj["login_passowrd_placeholder_" + res.language_id] = res.login_passowrd_placeholder;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "login_passowrd_placeholder",
                        value: obj,
                    });

                     var obj =  {};
                    data.map((res) => {
                        obj["login_passowrd_error_" + res.language_id] = res.login_passowrd_error;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "login_passowrd_error",
                        value: obj,
                    });

                     var obj =  {};
                    data.map((res) => {
                        obj["keep_me_logged_in_text_" + res.language_id] = res.keep_me_logged_in_text;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "keep_me_logged_in_text",
                        value: obj,
                    });

                     var obj =  {};
                    data.map((res) => {
                        obj["forget_password_text_" + res.language_id] = res.forget_password_text;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "forget_password_text",
                        value: obj,
                    });

                     var obj =  {};
                    data.map((res) => {
                        obj["login_button_text_" + res.language_id] = res.login_button_text;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "login_button_text",
                        value: obj,
                    });

                     var obj =  {};
                    data.map((res) => {
                        obj["not_register_yet_text_" + res.language_id] = res.not_register_yet_text;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "not_register_yet_text",
                        value: obj,
                    });

                     var obj =  {};
                    data.map((res) => {
                        obj["create_account_button_text_" + res.language_id] = res.create_account_button_text;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "create_account_button_text",
                        value: obj,
                    });

                     var obj =  {};
                    data.map((res) => {
                        obj["protect_your_account_text_" + res.language_id] = res.protect_your_account_text;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "protect_your_account_text",
                        value: obj,
                    });

                     var obj =  {};
                    data.map((res) => {
                        obj["protect_your_account_description_" + res.language_id] = res.protect_your_account_description;
                    });
                    this.$store.commit("login_page_setting/setPageSetting", {
                        key: "protect_your_account_description",
                        value: obj,
                    });
                });
        },
        checkValidationError(validationErros, language) {
            return (
                validationErros.has(`page_title.page_title_${language.id}`) ||
                validationErros.has(
                    `page_description.page_description_${language.id}`
                ) ||
                validationErros.has(
                    `login_email_label.login_email_label_${language.id}`
                ) ||
                validationErros.has(
                    `login_email_placeholder.login_email_placeholder_${language.id}`
                ) ||
                validationErros.has(
                    `login_email_error.login_email_error_${language.id}`
                ) ||
                validationErros.has(
                    `login_passowrd_label.login_passowrd_label_${language.id}`
                ) ||
                validationErros.has(
                    `login_passowrd_placeholder.login_passowrd_placeholder_${language.id}`
                ) ||
                validationErros.has(
                    `login_passowrd_error.login_passowrd_error_${language.id}`
                ) ||
                validationErros.has(
                    `keep_me_logged_in_text.keep_me_logged_in_text_${language.id}`
                ) ||
                validationErros.has(
                    `forget_password_text.forget_password_text_${language.id}`
                ) ||
                validationErros.has(
                    `login_button_text.login_button_text_${language.id}`
                ) ||
                validationErros.has(
                    `not_register_yet_text.not_register_yet_text_${language.id}`
                ) ||
                validationErros.has(
                    `create_account_button_text.create_account_button_text_${language.id}`
                ) ||
                validationErros.has(
                    `protect_your_account_text.protect_your_account_text_${language.id}`
                ) ||
                validationErros.has(
                    `protect_your_account_description.protect_your_account_description_${language.id}`
                )
            );
        },
    },
    created() {
        this.$store.commit("login_page_setting/resetForm");
        this.$store
            .dispatch("languages/fetchLanguages", {
                url: `${process.env.MIX_ADMIN_API_URL}languages?getAll=1`,
            })
            .then((res) => {
                let data = res.data.data;
                let obj = {};
                data.map((res) => {
                    obj["page_title_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "page_title",
                    value: obj,
                });
                obj = {};
                data.map((res) => {
                    obj["login_email_label_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "login_email_label",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["login_email_placeholder_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "login_email_placeholder",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["login_email_error_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "login_email_error",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["login_passowrd_label_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "login_passowrd_label",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["login_passowrd_placeholder_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "login_passowrd_placeholder",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["login_passowrd_error_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "login_passowrd_error",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["keep_me_logged_in_text_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "keep_me_logged_in_text",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["forget_password_text_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "forget_password_text",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["login_button_text_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "login_button_text",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["not_register_yet_text_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "not_register_yet_text",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["create_account_button_text_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "create_account_button_text",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["protect_your_account_text_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "protect_your_account_text",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["protect_your_account_description_" + res.id] = "";
                });
                this.$store.commit("login_page_setting/setPageSetting", {
                    key: "protect_your_account_description",
                    value: obj,
                });

                this.fetchLoginPageSetting();
            });
    },
    // mounted() {
    //     let ckEditorScript = document.createElement('script')
    //     ckEditorScript.setAttribute('src', `${process.env.MIX_APP_URL}/plugins/ckeditor5/ckeditor.js`)
    //     document.head.appendChild(ckEditorScript)
    // },
};
</script>
