<template>
    <AppLayout>
        <header class="py-4 bg-white mt-8">
            <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between">
                    <h1 class="text-3xl font-bold text-blue-600">
                        Register page setting
                    </h1>
                </div>
            </div>
        </header>
        <form class="py-4 px-4 bg-white" @submit.prevent="addUpdateForm()">
            <div
                class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
            >
                <ul class="flex flex-wrap -mb-px">
                    <li
                        class="mr-2"
                        v-for="language in languages"
                        :key="language.id"
                    >
                        <a
                            @click.prevent="changeLanguageTab(language)"
                            href="#"
                            :class="[
                                'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300',
                                ((activeTab == null && language.is_default) ||
                                activeTab == language.id
                                    ? 'text-blue-600 border-blue-600 active dark:text-blue-500 dark:border-blue-500'
                                    : '',
                                checkValidationError(validationErros, language)
                                    ? 'bg-red-600 text-white hover:text-white'
                                    : ''),
                            ]"
                            >{{ language.name }}</a
                        >
                    </li>
                </ul>
            </div>

            <div
                class="my-5"
                v-for="language in languages"
                :key="language.id"
                :class="
                    (activeTab == null && language.is_default) ||
                    activeTab == language.id
                        ? 'block'
                        : 'hidden'
                "
            >
                <div class="grid my-5 md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`page_title_${language.id}`"
                            :id="`page_title_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'page_title',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['page_title'] &&
                                form['page_title'][`page_title_${language.id}`]
                                    ? form['page_title'][
                                          `page_title_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`page_title_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Page title</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `page_title.page_title_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `page_title.page_title_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <!-- first name -->
                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_first_name_label_${language.id}`"
                            :id="`reg_first_name_label_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_first_name_label',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_first_name_label'] &&
                                form['reg_first_name_label'][
                                    `reg_first_name_label_${language.id}`
                                ]
                                    ? form['reg_first_name_label'][
                                          `reg_first_name_label_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_first_name_label_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register first name label</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_first_name_label.reg_first_name_label_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_first_name_label.reg_first_name_label_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_first_name_placeholder_${language.id}`"
                            :id="`reg_first_name_placeholder_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_first_name_placeholder',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_first_name_placeholder'] &&
                                form['reg_first_name_placeholder'][
                                    `reg_first_name_placeholder_${language.id}`
                                ]
                                    ? form['reg_first_name_placeholder'][
                                          `reg_first_name_placeholder_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_first_name_placeholder_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register first name placeholder</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_first_name_placeholder.reg_first_name_placeholder_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_first_name_placeholder.reg_first_name_placeholder_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_first_name_error_${language.id}`"
                            :id="`reg_first_name_error_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_first_name_error',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_first_name_error'] &&
                                form['reg_first_name_error'][
                                    `reg_first_name_error_${language.id}`
                                ]
                                    ? form['reg_first_name_error'][
                                          `reg_first_name_error_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_first_name_error_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register first name error</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_first_name_error.reg_first_name_error_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_first_name_error.reg_first_name_error_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <!-- last name -->
                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_last_name_label_${language.id}`"
                            :id="`reg_last_name_label_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_last_name_label',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_last_name_label'] &&
                                form['reg_last_name_label'][
                                    `reg_last_name_label_${language.id}`
                                ]
                                    ? form['reg_last_name_label'][
                                          `reg_last_name_label_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_last_name_label_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register last name label</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_last_name_label.reg_last_name_label_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_last_name_label.reg_last_name_label_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_last_name_placeholder_${language.id}`"
                            :id="`reg_last_name_placeholder_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_last_name_placeholder',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_last_name_placeholder'] &&
                                form['reg_last_name_placeholder'][
                                    `reg_last_name_placeholder_${language.id}`
                                ]
                                    ? form['reg_last_name_placeholder'][
                                          `reg_last_name_placeholder_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_last_name_placeholder_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register last name placeholder</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_last_name_placeholder.reg_last_name_placeholder_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_last_name_placeholder.reg_last_name_placeholder_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_last_name_error_${language.id}`"
                            :id="`reg_last_name_error_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_last_name_error',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_last_name_error'] &&
                                form['reg_last_name_error'][
                                    `reg_last_name_error_${language.id}`
                                ]
                                    ? form['reg_last_name_error'][
                                          `reg_last_name_error_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_last_name_error_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register last name error</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_last_name_error.reg_last_name_error_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_last_name_error.reg_last_name_error_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <!-- email -->
                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_email_label_${language.id}`"
                            :id="`reg_email_label_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_email_label',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_email_label'] &&
                                form['reg_email_label'][
                                    `reg_email_label_${language.id}`
                                ]
                                    ? form['reg_email_label'][
                                          `reg_email_label_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_email_label_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register email label</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_email_label.reg_email_label_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_email_label.reg_email_label_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_email_placeholder_${language.id}`"
                            :id="`reg_email_placeholder_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_email_placeholder',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_email_placeholder'] &&
                                form['reg_email_placeholder'][
                                    `reg_email_placeholder_${language.id}`
                                ]
                                    ? form['reg_email_placeholder'][
                                          `reg_email_placeholder_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_email_placeholder_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register email placeholder</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_email_placeholder.reg_email_placeholder_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_email_placeholder.reg_email_placeholder_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_email_error_${language.id}`"
                            :id="`reg_email_error_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_email_error',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_email_error'] &&
                                form['reg_email_error'][
                                    `reg_email_error_${language.id}`
                                ]
                                    ? form['reg_email_error'][
                                          `reg_email_error_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_email_error_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register email error</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_email_error.reg_email_error_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_email_error.reg_email_error_${language.id}`
                                )
                            "
                        ></p>
                    </div>
                    <!-- password -->
                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_passowrd_label_${language.id}`"
                            :id="`reg_passowrd_label_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_passowrd_label',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_passowrd_label'] &&
                                form['reg_passowrd_label'][
                                    `reg_passowrd_label_${language.id}`
                                ]
                                    ? form['reg_passowrd_label'][
                                          `reg_passowrd_label_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_passowrd_label_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register passowrd label</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_passowrd_label.reg_passowrd_label_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_passowrd_label.reg_passowrd_label_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_passowrd_placeholder_${language.id}`"
                            :id="`reg_passowrd_placeholder_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_passowrd_placeholder',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_passowrd_placeholder'] &&
                                form['reg_passowrd_placeholder'][
                                    `reg_passowrd_placeholder_${language.id}`
                                ]
                                    ? form['reg_passowrd_placeholder'][
                                          `reg_passowrd_placeholder_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_passowrd_placeholder_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register passowrd placeholder</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_passowrd_placeholder.reg_passowrd_placeholder_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_passowrd_placeholder.reg_passowrd_placeholder_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_passowrd_error_${language.id}`"
                            :id="`reg_passowrd_error_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_passowrd_error',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_passowrd_error'] &&
                                form['reg_passowrd_error'][
                                    `reg_passowrd_error_${language.id}`
                                ]
                                    ? form['reg_passowrd_error'][
                                          `reg_passowrd_error_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_passowrd_error_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register passowrd error</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_passowrd_error.reg_passowrd_error_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_passowrd_error.reg_passowrd_error_${language.id}`
                                )
                            "
                        ></p>
                    </div>


                    <!-- confirm password -->
                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_confirm_passowrd_label_${language.id}`"
                            :id="`reg_confirm_passowrd_label_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_confirm_passowrd_label',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_confirm_passowrd_label'] &&
                                form['reg_confirm_passowrd_label'][
                                    `reg_confirm_passowrd_label_${language.id}`
                                ]
                                    ? form['reg_confirm_passowrd_label'][
                                          `reg_confirm_passowrd_label_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_confirm_passowrd_label_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register confirm_passowrd label</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_confirm_passowrd_label.reg_confirm_passowrd_label_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_confirm_passowrd_label.reg_confirm_passowrd_label_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_confirm_passowrd_placeholder_${language.id}`"
                            :id="`reg_confirm_passowrd_placeholder_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_confirm_passowrd_placeholder',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_confirm_passowrd_placeholder'] &&
                                form['reg_confirm_passowrd_placeholder'][
                                    `reg_confirm_passowrd_placeholder_${language.id}`
                                ]
                                    ? form['reg_confirm_passowrd_placeholder'][
                                          `reg_confirm_passowrd_placeholder_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_confirm_passowrd_placeholder_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register confirm_passowrd placeholder</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_confirm_passowrd_placeholder.reg_confirm_passowrd_placeholder_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_confirm_passowrd_placeholder.reg_confirm_passowrd_placeholder_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_confirm_passowrd_error_${language.id}`"
                            :id="`reg_confirm_passowrd_error_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_confirm_passowrd_error',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_confirm_passowrd_error'] &&
                                form['reg_confirm_passowrd_error'][
                                    `reg_confirm_passowrd_error_${language.id}`
                                ]
                                    ? form['reg_confirm_passowrd_error'][
                                          `reg_confirm_passowrd_error_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_confirm_passowrd_error_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Register confirm_passowrd error</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_confirm_passowrd_error.reg_confirm_passowrd_error_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_confirm_passowrd_error.reg_confirm_passowrd_error_${language.id}`
                                )
                            "
                        ></p>
                    </div>
                    <!-- privacy_terms_text -->
                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`privacy_terms_text_${language.id}`"
                            :id="`privacy_terms_text_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'privacy_terms_text',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['privacy_terms_text'] &&
                                form['privacy_terms_text'][
                                    `privacy_terms_text_${language.id}`
                                ]
                                    ? form['privacy_terms_text'][
                                          `privacy_terms_text_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`privacy_terms_text_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Privacy terms text</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `privacy_terms_text.privacy_terms_text_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `privacy_terms_text.privacy_terms_text_${language.id}`
                                )
                            "
                        ></p>
                    </div>
                    <!-- reg_button_text -->
                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`reg_button_text_${language.id}`"
                            :id="`reg_button_text_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'reg_button_text',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['reg_button_text'] &&
                                form['reg_button_text'][
                                    `reg_button_text_${language.id}`
                                ]
                                    ? form['reg_button_text'][
                                          `reg_button_text_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`reg_button_text_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Registeration button text</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `reg_button_text.reg_button_text_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `reg_button_text.reg_button_text_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <!-- already_register_yet_text -->
                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`already_register_yet_text_${language.id}`"
                            :id="`already_register_yet_text_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'already_register_yet_text',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['already_register_yet_text'] &&
                                form['already_register_yet_text'][
                                    `already_register_yet_text_${language.id}`
                                ]
                                    ? form['already_register_yet_text'][
                                          `already_register_yet_text_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`already_register_yet_text_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Already register text</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `already_register_yet_text.already_register_yet_text_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `already_register_yet_text.already_register_yet_text_${language.id}`
                                )
                            "
                        ></p>
                    </div>
                    <!-- login_button_text -->
                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`login_button_text_${language.id}`"
                            :id="`login_button_text_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'login_button_text',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['login_button_text'] &&
                                form['login_button_text'][
                                    `login_button_text_${language.id}`
                                ]
                                    ? form['login_button_text'][
                                          `login_button_text_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`login_button_text_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Login button text</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `login_button_text.login_button_text_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `login_button_text.login_button_text_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`protect_your_account_text_${language.id}`"
                            :id="`protect_your_account_text_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'protect_your_account_text',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['protect_your_account_text'] &&
                                form['protect_your_account_text'][
                                    `protect_your_account_text_${language.id}`
                                ]
                                    ? form['protect_your_account_text'][
                                          `protect_your_account_text_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`protect_your_account_text_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Protect your account text</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `protect_your_account_text.protect_your_account_text_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `protect_your_account_text.protect_your_account_text_${language.id}`
                                )
                            "
                        ></p>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <input
                            type="text"
                            :name="`protect_your_account_description_${language.id}`"
                            :id="`protect_your_account_description_${language.id}`"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" "
                            @input="
                                handleInput(
                                    $event.target.value,
                                    language,
                                    'protect_your_account_description',
                                    'updatePageSetting'
                                )
                            "
                            :value="
                                form['protect_your_account_description'] &&
                                form['protect_your_account_description'][
                                    `protect_your_account_description_${language.id}`
                                ]
                                    ? form['protect_your_account_description'][
                                          `protect_your_account_description_${language.id}`
                                      ]
                                    : ''
                            "
                        />
                        <label
                            :for="`protect_your_account_description_${language.id}`"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Protect your account description</label
                        >
                        <p
                            class="mt-2 text-sm text-red"
                            v-if="
                                validationErros.has(
                                    `protect_your_account_description.protect_your_account_description_${language.id}`
                                )
                            "
                            v-text="
                                validationErros.get(
                                    `protect_your_account_description.protect_your_account_description_${language.id}`
                                )
                            "
                        ></p>
                    </div>
                </div>
            </div>

            <button
                type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
                Submit
            </button>
        </form>
    </AppLayout>
</template>

<script>
import { mapState } from "vuex";
export default {
    computed: {
        ...mapState({
            form: (state) => state.reg_page_setting.form,
            validationErros: (state) => state.reg_page_setting.validationErros,
            languages: (state) => state.languages.languages,
        }),
    },
    data() {
        return {
            activeTab: null,
            collapseStates: [true, false, false, false, false, false, false],
        };
    },
    methods: {
        handleInput(value, language, key, mutationName) {
            this.$store.commit(`reg_page_setting/${mutationName}`, {
                key: key,
                value: value,
                id: language.id,
            });
        },
        addUpdateForm() {
            this.$store.dispatch("reg_page_setting/addUpdateForm");
        },
        changeLanguageTab(language) {
            this.activeTab = language.id;
        },
        fetchRegPageSetting() {
            this.$store
                .dispatch("reg_page_setting/fetchRegPageSetting", {
                    url: `${process.env.MIX_ADMIN_API_URL}reg-page-setting`,
                })
                .then((res) => {
                    let data =
                        res.data.data && res.data.data.reg_page_setting_detail
                            ? res.data.data.reg_page_setting_detail
                            : [];

                    let obj = {};
                    data.map((res) => {
                        obj["page_title_" + res.language_id] = res.page_title;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "page_title",
                        value: obj,
                    });

                    //first name
                    obj = {};
                    data.map((res) => {
                        obj["reg_first_name_label_" + res.language_id] = res.reg_first_name_label;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_first_name_label",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["reg_first_name_placeholder_" + res.language_id] = res.reg_first_name_placeholder;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_first_name_placeholder",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["reg_first_name_error_" + res.language_id] = res.reg_first_name_error;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_first_name_error",
                        value: obj,
                    });

                    //last name
                    obj = {};
                    data.map((res) => {
                        obj["reg_last_name_label_" + res.language_id] = res.reg_last_name_label;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_last_name_label",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["reg_last_name_placeholder_" + res.language_id] = res.reg_last_name_placeholder;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_last_name_placeholder",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["reg_last_name_error_" + res.language_id] = res.reg_last_name_error;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_last_name_error",
                        value: obj,
                    });
                    //email
                    obj = {};
                    data.map((res) => {
                        obj["reg_email_label_" + res.language_id] = res.reg_email_label;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_email_label",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["reg_email_placeholder_" + res.language_id] = res.reg_email_placeholder;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_email_placeholder",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["reg_email_error_" + res.language_id] = res.reg_email_error;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_email_error",
                        value: obj,
                    });
                    //passowrd
                    obj = {};
                    data.map((res) => {
                        obj["reg_passowrd_label_" + res.language_id] = res.reg_passowrd_label;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_passowrd_label",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["reg_passowrd_placeholder_" + res.language_id] = res.reg_passowrd_placeholder;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_passowrd_placeholder",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["reg_passowrd_error_" + res.language_id] = res.reg_passowrd_error;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_passowrd_error",
                        value: obj,
                    });

                    //confirm passowrd
                    obj = {};
                    data.map((res) => {
                        obj["reg_confirm_passowrd_label_" + res.language_id] = res.reg_confirm_passowrd_label;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_confirm_passowrd_label",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["reg_confirm_passowrd_placeholder_" + res.language_id] = res.reg_confirm_passowrd_placeholder;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_confirm_passowrd_placeholder",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["reg_confirm_passowrd_error_" + res.language_id] = res.reg_confirm_passowrd_error;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_confirm_passowrd_error",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["privacy_terms_text_" + res.language_id] = res.privacy_terms_text;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "privacy_terms_text",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["reg_button_text_" + res.language_id] = res.reg_button_text;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "reg_button_text",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["already_register_yet_text_" + res.language_id] = res.already_register_yet_text;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "already_register_yet_text",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["login_button_text_" + res.language_id] = res.login_button_text;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "login_button_text",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["protect_your_account_text_" + res.language_id] = res.protect_your_account_text;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "protect_your_account_text",
                        value: obj,
                    });

                    obj = {};
                    data.map((res) => {
                        obj["protect_your_account_description_" + res.language_id] = res.protect_your_account_description;
                    });
                    this.$store.commit("reg_page_setting/setPageSetting", {
                        key: "protect_your_account_description",
                        value: obj,
                    });
                });
        },
        checkValidationError(validationErros, language) {
            return (
                validationErros.has(`page_title.page_title_${language.id}`) ||
                validationErros.has(
                    `page_description.page_description_${language.id}`
                ) ||
                validationErros.has(
                    `reg_email_label.reg_email_label_${language.id}`
                ) ||
                validationErros.has(
                    `reg_email_placeholder.reg_email_placeholder_${language.id}`
                ) ||
                validationErros.has(
                    `reg_email_error.reg_email_error_${language.id}`
                ) ||
                validationErros.has(
                    `reg_passowrd_label.reg_passowrd_label_${language.id}`
                ) ||
                validationErros.has(
                    `reg_passowrd_placeholder.reg_passowrd_placeholder_${language.id}`
                ) ||
                validationErros.has(
                    `reg_passowrd_error.reg_passowrd_error_${language.id}`
                ) ||
                validationErros.has(
                    `keep_me_logged_in_text.keep_me_logged_in_text_${language.id}`
                ) ||
                validationErros.has(
                    `forget_password_text.forget_password_text_${language.id}`
                ) ||
                validationErros.has(
                    `reg_button_text.reg_button_text_${language.id}`
                ) ||
                validationErros.has(
                    `not_register_yet_text.not_register_yet_text_${language.id}`
                ) ||
                validationErros.has(
                    `create_account_button_text.create_account_button_text_${language.id}`
                ) ||
                validationErros.has(
                    `protect_your_account_text.protect_your_account_text_${language.id}`
                ) ||
                validationErros.has(
                    `protect_your_account_description.protect_your_account_description_${language.id}`
                )
            );
        },
    },
    created() {
        this.$store.commit("reg_page_setting/resetForm");
        this.$store
            .dispatch("languages/fetchLanguages", {
                url: `${process.env.MIX_ADMIN_API_URL}languages?getAll=1`,
            })
            .then((res) => {
                let data = res.data.data;
                let obj = {};
                data.map((res) => {
                    obj["page_title_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "page_title",
                    value: obj,
                });

                //first name
                obj = {};
                data.map((res) => {
                    obj["reg_first_name_label_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_first_name_label",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["reg_first_name_placeholder_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_first_name_placeholder",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["reg_first_name_error_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_first_name_error",
                    value: obj,
                });

                //last name
                obj = {};
                data.map((res) => {
                    obj["reg_last_name_label_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_last_name_label",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["reg_last_name_placeholder_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_last_name_placeholder",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["reg_last_name_error_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_last_name_error",
                    value: obj,
                });
                //email
                obj = {};
                data.map((res) => {
                    obj["reg_email_label_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_email_label",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["reg_email_placeholder_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_email_placeholder",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["reg_email_error_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_email_error",
                    value: obj,
                });
                //passowrd
                obj = {};
                data.map((res) => {
                    obj["reg_passowrd_label_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_passowrd_label",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["reg_passowrd_placeholder_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_passowrd_placeholder",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["reg_passowrd_error_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_passowrd_error",
                    value: obj,
                });

                //confirm passowrd
                obj = {};
                data.map((res) => {
                    obj["reg_confirm_passowrd_label_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_confirm_passowrd_label",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["reg_confirm_passowrd_placeholder_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_confirm_passowrd_placeholder",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["reg_confirm_passowrd_error_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_confirm_passowrd_error",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["privacy_terms_text_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "privacy_terms_text",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["reg_button_text_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "reg_button_text",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["already_register_yet_text_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "already_register_yet_text",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["login_button_text_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "login_button_text",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["protect_your_account_text_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "protect_your_account_text",
                    value: obj,
                });

                obj = {};
                data.map((res) => {
                    obj["protect_your_account_description_" + res.id] = "";
                });
                this.$store.commit("reg_page_setting/setPageSetting", {
                    key: "protect_your_account_description",
                    value: obj,
                });
                this.fetchRegPageSetting();
                
            });
    },
    // mounted() {
    //     let ckEditorScript = document.createElement('script')
    //     ckEditorScript.setAttribute('src', `${process.env.MIX_APP_URL}/plugins/ckeditor5/ckeditor.js`)
    //     document.head.appendChild(ckEditorScript)
    // },
};
</script>
