<template>
    <AppLayout>
        <div class="relative shadow-md sm:rounded-lg mt-8 bg-white py-4">
            <div class="px-4 sm:px-6 lg:px-8">
                <div class="sm:flex sm:items-center">
                    <div class="sm:flex-auto">
                    <h1 class="text-lg font-Futura font-semibold leading-6 text-primary">Error messages</h1>
                    </div>
                </div>
                <form class="py-4 px-4 bg-white" @submit.prevent="addUpdateForm()">

                        <div>
                        <!-- <div class="sm:hidden">
                            <label for="tabs" class="sr-only">Select a tab</label> -->
                            <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
                            <!-- <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500">
                            <option selected>My Account</option>

                            <option>Company</option>

                            <option>Team Members</option>

                            <option>Billing</option>
                            </select>
                        </div> -->
                        <div class="inline-flex mb-8">
                            <nav class="isolate flex divide-x divide-gray-200 rounded-lg shadow" aria-label="Tabs">
                            <!-- Current: "text-gray-900", Default: "text-gray-500 hover:text-gray-700" -->
                                <div v-for="languageError in languageErrors" :key="languageError.id">
                                    <a @click.prevent="changeLanguageTab(languageError)" href="#" :class="[((activeTab == null && languageError.is_default == '1') || activeTab == languageError.id ? 'text-gray-900 rounded-l-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10' : 'text-gray-500 hover:text-gray-700 group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10'), (validationErros.has(`name.name_${languageError.id}`) ? 'bg-red text-white hover:text-white' : '')]">
                                        <span>{{languageError.name}}</span>
                                        <span aria-hidden="true" class="bg-primary absolute inset-x-0 bottom-0 h-0.5" v-if="(activeTab == null && languageError.is_default == '1') || activeTab == languageError.id"></span>
                                        <span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5" v-else></span>
                                        <span aria-hidden="true" class="bg-red-500 absolute inset-x-0 bottom-0 h-0.5" v-if="(validationErros.has(`name.name_${languageError.id}`))"></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                        </div>


                        <!-- <ul class="flex flex-wrap -mb-px">
                            <li class="mr-2" v-for="languageError in languageErrors" :key="languageError.id">
                                <a @click.prevent="changeLanguageTab(languageError)" href="#" :class="['inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300', ((activeTab == null && languageError.is_default == '1') || activeTab == languageError.id ? 'text-blue-600 border-blue-600 active dark:text-blue-500 dark:border-blue-500' : ''), (validationErros.has(`name.name_${languageError.id}`) ? 'bg-red text-white hover:text-white' : '')]">{{languageError.name}}</a>
                            </li>
                        </ul> -->


                    <div class="grid my-5 md:grid-cols-2 md:gap-6" v-for="languageError in languageErrors" :key="languageError.id" :class="(activeTab == null && languageError.is_default == '1') || activeTab == languageError.id ? 'block' : 'hidden' ">
                        <template v-for="(validation, index) in languageError.validation">
                            <div class="relative z-0 w-full mb-6 group" v-for="(v, i) in validation" :key="`${i}v`" v-if="typeof validation === 'object'">
                                <input type="text" name="name" id="name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " :value="v" @blur="updateError(languageError, i, $event.target.value)" />
                                <label for="name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{i}}</label>
                            </div>
                            <div class="relative z-0 w-full mb-6 group" :key="index" v-else>
                                <input type="text" name="name" id="name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " :value="validation" @blur="updateError(languageError, index, $event.target.value)" />
                                <label for="name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{index}}</label>
                            </div>
                        </template>
                    </div>
                </form>
            </div>
        </div>
    </AppLayout>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        computed:{
            ...mapState({
                validationErros: state => state.errors.validationErros,
                languageErrors: state => state.errors.languageErrors,
            }),
        },
        data(){
            return {
                activeTab: null,
            }
        },
        methods: {
            addUpdateForm(){
                this.$store.dispatch('errors/addUpdateForm')
                .then(() => this.$router.push({name: 'admin.errors.index'}));
            },
            updateError(language, field, value){
                if(value == ''){
                    helper.swalErrorMessage(`The ${field} field is required.`);
                    return;
                }
                else if(!value.includes(':attribute')){
                    helper.swalErrorMessage(`The ${field} must contains :attribute.`);
                    return;
                }
                this.$store.dispatch('errors/addUpdateForm',{
                    'language_id':language.id,
                    'field':field,
                    'value':value,
                });
            },
            changeLanguageTab(language){
                this.activeTab = language.id;
            },
            fetchLanguageErrors(){
                this.$store.dispatch('errors/fetchLanguageErrors');
            }
        },
        created(){
            this.$store.commit('errors/setEmptyError');
            this.$store.commit('errors/setError');
            this.fetchLanguageErrors();
        }
    };
</script>